coverage==7.10.1
matplotlib==3.10.5
mlflow==3.3.1
mlflow-skinny==3.3.1
mlflow-tracing==3.3.1
mock==5.2.0
numpy==2.3.0 
pandas==2.3.1
pyarrow==21.0.0
pyspark==4.0.0
pytest==8.4.1
scikit-learn==1.7.1

